* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    }

    body{
        width: 100%;
         background: url(bg.jpg) no-repeat center / cover;
         background-attachment: fixed;
    }

.container {
    padding: 50px 0px;
     align-items: center;
     justify-content: center;
     display: flex;
     flex-direction: column;
}

.text {
     display: flex;
     flex-direction: column;
     align-items: center;
     max-width: 650px;
     color: white;
     gap: 2rem;
     line-height: 30px;
     text-align: center;


     h1 {
         font-size: 2.5rem;
         line-height: 50px;
     }

      p {
         font-size: 1.2rem;
     }
}
    

.skills {
    @media screen and (max-width: 768px){
        width: 90%;
    }

    h2 {
        letter-spacing: 1px;
        margin: 40px 0;
        color: white;
    }
}

.progress-bar {
    background-color: darkgray;
    width: 600px;
    height: 15px;
    border-radius: 10px ;
    @media screen and (max-width: 768px){
        width: 100%;
    }

    div {
        height: 15px;
        border-radius: 10px;
        width: 0%;

        span {
            height: 40px;
            width:40px;
            border-radius: 50%;
            float: right;
            margin: -15px -20px 0 0;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: black;
        }
    }

    .yamaha {
        background-color: #fde74c;
        animation: yamaha 1.5s ease-in-out forwards;

        span {
            border: 3px solid #fde74c;
        }

        @keyframes yamaha {
            100% {
                width: 42%;
            }
        }
    }

    .honda {
        background-color: #d84654;
        animation: honda 1.5s ease-in-out forwards;

        span {
            border: 3px solid #d84654;
        }

        @keyframes honda {
            100% {
                width: 31%;
            }
        }
    }

    .ducati {
        background-color: #3da1b8;
        animation: ducati 1s linear forwards;

        span {
            border: 3px solid #3da1b8;
        }

        @keyframes ducati {
            100% {
                width: 17%;
            }
        }
    }

    .kawasaki {
        background-color: #80D932;
        animation: kawasaki 1s linear forwards;

        span {
            border: 3px solid #80D932;
        }

        @keyframes kawasaki {
            100% {
                width: 10%;
            }
        }
    }
}